@media (max-width: 768px) {
    .display-flex {
        display: flex;
        flex-direction: column;
    }

    .left-space {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .display-flex {
        display: flex;
    }

    .left-space {
        margin-left: 24px;
    }
}

.vertical-center {
    align-items: center;
}

.horizontal-center {
    justify-content: center;
}

.top-space {
    margin-top: 16px;
}

.pointer {
    cursor: pointer;
}